body{
  background-color: black;
  
}

#game-board {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 75px;
  width: 250px;
}
#animated-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 38px;
  width: 217px;
}

body button {
  font-family: 'Press Start 2P', cursive;
  font-size: 15px;
  background-color: gold;
  color:black;
  padding: 5px 10px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tile{
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: top;
  
}

.wall {
  background-color: magenta;
  border: 2px solid hotpink;

}

.coin {
  background-color: gold;
  border-radius: 50%;
  transform: scale(0.3);
  border: 2px solid black;
}

.ground {
  background-color: black;
  border: 2px solid black;
}

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  35% {
    opacity: 0;
  }
}

.pacman {
  background-image: url('../images/pacman-right.gif');
  background-size: cover;
  border: 2px solid black;
  
}
.ghost {
  background-image: url('../images/ghost.gif');
  background-size: cover;
  border: 2px solid black;
}

.left {
  background-image: url('../images/pacman-left.gif');
  background-size: cover;
  border: 2px solid black;
}

.down {
  background-image: url('../images/pacman-down.gif');
  background-size: cover;
  border: 2px solid black;
}
.up {
  background-image: url('../images/pacman-up.gif');
  background-size: cover;
  border: 2px solid black;
}
#score {
  
  color: gold;
  font-size: 15px;
  padding-left: 58%;
  font-family: 'Press Start 2P', cursive;
  
}